@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup>
    <h1 class="text-error">The Limit capacity has been reached!</h1>
    <h2 class="text-error">Please select a different day to reserve your spot!</h2>
</hgroup>



<a href="@Url.Action("Index", "Reservation")"><input type="button" /></a>
